@value colors: '../data/variables.css';
@value customBlue, customRed, customGreen from colors;

.card {
    background-color:beige;
}

.regular
{
  background-color: blueviolet;
  font-weight: 200;
}

.input
{
background-color: #ccc;
}

.btn {
  background-image: url("../../img/edit.png");
  background-repeat: no-repeat;
  width: 80px; /* Ширина кнопки */
  height:20px;
  align-content: center;
}
.btn_save {
  align-content: center;
  background-color: aqua;
  width: 60px; /* Ширина кнопки */
  height: 20px;
}