.translator
{
    display: flex;
    flex-direction: row;
    justify-items: center;
    height:200px;
    margin: 10px;
    justify-content: center;
    
}
.translatorCard
{
    
    width:200px;
    height:200px;
   background-color: rgb(176, 245, 176);
text-align: center;
margin: 10px;
}
.containerCard
{
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.btnCheck
{
    background-color: aquamarine;
}

.count
{
    align-items: center;
    font: 14px;
}